<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Favicon Fragment -->
    <th:block th:fragment="favicon">
        <!-- Standard favicon -->
        <link rel="icon" type="image/png" th:href="@{/images/dacsanvietLogoico.png}">
        <link rel="shortcut icon" type="image/png" th:href="@{/images/dacsanvietLogoico.png}">
        <!-- Apple touch icon -->
        <link rel="apple-touch-icon" th:href="@{/images/dacsanvietLogoico.png}">
        <!-- Theme color -->
        <meta name="theme-color" content="#4ec2b6">
    </th:block>
</head>

</html>